html, body {
  margin: 0
}

canvas {
  display: block;
}

.invisible {
  display:none;
}

.absolute {
  position:absolute;
}

#screen {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

